/vendor
/node_modules
/public/storage
/storage
/public/.htaccess
Homestead.yaml
Homestead.json
.env

.env.example
composer.lock
*.log
app/Http/Controllers/bad.DemoCheckoutController.php
composer.lock
deployment-config.json
.htaccess
.htpasswd

.ftpconfig

composer.lock
