/vendor
/node_modules
/public/storage
/storage
Homestead.yaml
Homestead.json
.env

.env.example
composer.lock
*.log
app/Http/Controllers/bad.DemoCheckoutController.php
composer.lock
deployment-config.json
