Функциональные требования к Личному кабинету Покупателя:

1. Отображение списка заказов.
	1.1. В списке заказов по каждому заказу отображать:
		* Номер заказа
		* Статус заказа
		* Дата заказа
		* Полная стоимость заказа с учетом доставки
		* Адрес доставки и тип (курьер или ПВЗ)
	1.2. По каждому заказу можно выполнить следующие дествия:
		* Просмотр детальной информации по заказу:
			* состав заказа
			* стоимость каждой позиции, картинка, описание, магазин, где было куплено, дополнительная информация
			* тип и стоимость доставки
		* Возможность произвести полную оплату заказа (если выбрана постоплата)
		* Посмотреть трекер доставки товара (Кнопка "где мой заказ?")
2. Отображение списка привязанных банковских карт.
3. Поля профиля покупателя и возможность их редктировать: ФИО, паспорт, адрес доставки.
4. Изменение пароля для входа в личный кабинет.

Функциональные требования к Кабинету менеджера:
1. Список всех заказов. с сортировкой и фильтрами (по статусу, по дате)
2. Для каждого заказа, просмотр информации о покупателе, подробной информации о заказе.
3. 