@import url("//fonts.googleapis.com/css?family=Lato");
@import url("//fonts.googleapis.com/css?family=Roboto+Mono&subset=latin,cyrillic");
@import url("//fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
html,
body {
  height: 100%;
}
body {
  font-weight: 300;
  font-family: 'Open Sans';
  font-size: 10pt;
  color: #676f7c;
  margin: 0;
  padding: 0;
  width: 100%;
}
body .ui-dialog-titlebar {
  display: none;
}
body .container .first {
  font-weight: 700;
  font-style: normal;
  font-size: inherit;
}
body .container h1,
body .container h2,
body .container h3 {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1em;
}
body .container h1 {
  font-size: 20pt;
  text-align: center;
  line-height: 2em;
  border-bottom: dotted 1px #676f7c;
}
body .container h2 {
  font-size: 16pt;
}
body .container h3 {
  font-size: 14pt;
  padding-right: 2em;
}
body .container h4 {
  font-weight: 700;
  font-size: 12pt;
}
body .container ul {
  list-style: none;
}
body .container ul li {
  display: inline-block;
  list-style-position: inside;
}
body .container .mail {
  background-color: #676f7c;
  color: #fff;
  text-align: center;
  height: 3em;
  line-height: 3em;
}
body .container .row {
  margin-left: 0;
  margin-right: 0;
}
body .container .brand {
  color: #676f7c;
  font-weight: 700;
  text-transform: uppercase;
}
body .container .text {
  text-indent: 2em;
}
body .container .data {
  padding: 1em;
  line-height: 2em;
  font-size: 110%;
}
body .container .bye {
  margin: 1em auto;
  text-align: center;
  font-size: 110%;
}
body .container .control-label {
  display: none;
}
body .container .hide {
  display: none;
}
body .container .small {
  font-size: 10pt;
}
body .container .small a {
  font-size: 10pt;
}
body .container .attention {
  font-size: 110%;
  font-weight: 700;
  display: block;
  background-color: #64ffda;
  padding: 0.4em;
  text-align: center;
}
body .container .form {
  position: relative;
}
body .container .form .fa {
  color: #00bf80;
}
body .container .form .helper .fa {
  color: rgba(255,255,255,0.6);
}
body .container .form .helper:hover .fa {
  color: #fff;
}
body .container .cart {
  border: dotted 1px #64ffda;
  padding: 0 1em;
}
body .container .cart-item {
  margin-bottom: 1.4em;
  cursor: pointer;
}
body .container .cart-item * {
  margin: 0;
  padding: 0;
}
body .container .cart-item .image {
  display: inline-block;
  text-align: center;
}
body .container .cart-item .image img {
  height: 3em;
  width: 3em;
}
body .container .cart-item .name {
  padding-left: 0em;
}
body .container .cart-item .quantity {
  font-weight: 700;
}
body .container .cart-item .amount {
  text-align: right;
  font-weight: 700;
  font-family: 'Lato', 'Open Sans';
}
body .container .cart-item .total {
  text-align: right;
}
body .container #cart-total {
  border-top: dotted 1px #676f7c;
  margin-top: 2.4em;
}
body .container #cart-shipping {
  border: none;
}
body .container #cart-shipping-total {
  border-top: dotted 1px #676f7c;
  margin-top: 1em;
  color: #676f7c;
}
body .container #cart-shipping-total * {
  font-size: 16pt;
  font-weight: 700;
}
body .container .list-group-item-text {
  text-indent: 1.4em;
}
body .container .list-group-item.active .fa {
  color: #fff;
}
body .container #header {
  font-size: 12pt;
  padding: 0;
}
body .container #header .nav {
  background-color: #676f7c;
  list-style: none;
  color: rgba(255,255,255,0.8);
  text-align: right;
  padding-bottom: 0.5em;
}
body .container #header .nav .nav-item {
  height: 2em;
  line-height: 2em;
  display: inline-block;
  font-size: 12pt;
}
body .container #header .nav .nav-item a {
  color: #aed581;
  font-size: 12pt;
}
body .container #header .nav .nav-item a:hover {
  background: none;
  text-decoration: underline;
}
body .container #header .nav .nav-item.logo {
  float: left;
  font-size: 16pt;
  margin-left: 1em;
}
body .container #content {
  background-color: rgba(0,0,0,0);
}
body .container #content .cart {
  padding-right: 2em;
  margin-bottom: 2em;
}
body .container #content .message {
  background-color: #b9f6ca;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 1em;
  font-size: 12pt;
}
body .container #content .message-alert {
  background-color: #e91e63;
  color: #fff;
  text-indent: 1em;
}
body .container #content .text-right {
  text-align: right;
}
body .container #content .text-center {
  text-align: center;
}
body .container #footer {
  position: absolute;
  bottom: 0;
  margin-top: 2em;
  padding-top: 25px;
  padding-bottom: 15px;
  color: #fff;
  background-color: #aab2bd;
  text-align: center;
}
.scale-2 {
  width: 100%;
}
.scale-2-item {
  position: relative;
  background-color: #a7ffeb;
  display: inline-block;
  width: 25%;
  text-align: center;
  height: 64px;
  line-height: 64px;
  border: none;
  font-size: 16pt;
  color: rgba(0,0,0,0.3);
  pointer-events: none;
}
.scale-2-item a {
  color: rgba(0,0,0,0.3);
  text-decoration: none;
}
.scale-2-item:after,
.scale-2-item:before {
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.scale-2-item:after {
  border-color: transparent;
  border-left-color: #a7ffeb;
  border-width: 32px;
  margin-top: -32px;
  right: -60px;
  z-index: 200;
}
.scale-2-item:before {
  border-color: transparent;
  border-left-color: #fff;
  border-width: 32px;
  z-index: 100;
  left: 0;
  margin-top: -32px;
}
.scale-2-item:first-child:before {
  border-left-color: #a7ffeb;
}
.scale-2-item:last-child:after {
  border-left-color: transparent;
}
.active.scale-2-item,
.active-last.scale-2-item {
  background-color: #5cb85c;
  color: #fff;
}
.active.scale-2-item a,
.active-last.scale-2-item a {
  color: #fff;
}
.active-last.scale-2-item {
  pointer-events: all;
}
.active.scale-2-item,
.active-last.scale-2-item a:hover {
  font-weight: 700;
  text-transform: uppercase;
}
.active-last.scale-2-item:after,
.active-last.scale-2-item:first-child:before,
.active.scale-2-item:after,
.active.scale-2-item:first-child:before {
  border-left-color: #5cb85c;
}
.active.scale-2-item:last-child:after,
.active-last.scale-2-item:last-child:after {
  border-left-color: transparent;
/* Modal helper boxes*/
}
.helper {
  display: inline-block;
  background-color: #676f7c;
  color: rgba(255,255,255,0.6);
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  min-width: 2em;
  text-align: center;
  height: 2em;
  line-height: 2em;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  cursor: pointer;
  z-index: 100;
}
.helper:hover {
  color: #fff;
  text-decoration: none;
}
.helper-text {
  background-color: #676f7c;
  color: #fff;
  position: absolute;
  top: 3em;
  right: 1em;
  padding: 1em;
  z-index: 100;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
}
.helper-box {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
  z-index: 300;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.helper-box:target {
  display: block;
  pointer-events: auto;
}
.helper-box-auto {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
  z-index: 300;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: auto;
}
.helper-box-item-lg {
  background-color: #fff;
  position: relative;
  z-index: 300;
  color: #000;
  margin: 4em 6em 1em 6em;
  height: 92%;
  padding: 4em;
  font-size: 12pt;
  text-indent: 2em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  overflow: auto;
}
.helper-box-item {
  background-color: #fff;
  display: none;
  position: relative;
  z-index: 300;
  color: #000;
  width: 40em;
  margin: 10% auto;
  padding: 4em;
  font-size: 12pt;
  text-indent: 2em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}
.helper-box-item-close {
  border: solid 4px transparent;
  position: fixed;
  top: 1em;
  right: 1em;
  color: #fff;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
  height: 3em;
  line-height: 3em;
  width: 3em;
  text-align: center;
  display: inline-block;
  padding-bottom: 0.2em;
  text-indent: 0;
}
.helper-box-item-close .fa {
  color: #fff;
}
.helper-box-item-close:hover {
  border: solid 4px #fff;
}
.modal-box {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
  z-index: 300;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  ointer-events: auto;
}
.modal-box-item-lg {
  background-color: #fff;
  position: relative;
  z-index: 300;
  color: #000;
  margin: 4em 6em 1em 6em;
  height: 92%;
  padding: 4em;
  font-size: 12pt;
  text-indent: 2em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  overflow: auto;
}
.modal-box-item-close {
  border: solid 4px transparent;
  position: fixed;
  top: 1em;
  right: 1em;
  color: #fff;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
  height: 3em;
  line-height: 3em;
  width: 3em;
  text-align: center;
  display: inline-block;
  padding-bottom: 0.2em;
  text-indent: 0;
}
.modal-box-item-close .fa {
  color: #fff;
}
.modal-box-item-close:hover {
  border: solid 4px #fff;
}
input,
select,
textarea {
  font-size: 12pt;
}
.input-field {
  padding: 0;
  position: relative;
  color: #676f7c;
}
.input-field input {
  height: 40px;
  line-height: 40px;
  background-color: #f2f3f5;
  padding-left: 3em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  border: solid 2px rgba(242,243,245,0.73);
}
.input-field:before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 2em;
  font-family: 'FontAwesome';
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #676f7c;
  font-size: 14pt;
  opacity: 0.33;
}
.input-field:focus {
  border-color: #00bf80;
}
.input-field:focus .input-field:before {
  color: #00bf80;
}
.input-field.default:before {
  content: '\f105';
}
.input-field.email:before {
  content: '\f0e0';
}
.input-field.phone:before {
  content: '\f095';
}
.input-field.external-link:before {
  content: '\f08e';
}
.input-field.file-text:before {
  content: '\f0f6';
}
.input-field.barcode:before {
  content: '\f02a';
}
