//out: gauzy.css
@import url('//fonts.googleapis.com/css?family=Lato')
@import url('//fonts.googleapis.com/css?family=Roboto+Mono&subset=latin,cyrillic')
@import url('//fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic')
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')

$colorGreen     = rgba(  92, 184,  92, 1) //rgba(   0, 191, 128, 1)
$colorBlue      = rgba(  51, 187, 255, 1)
$colorGrey      = rgba( 103, 111, 124, 1)
$colorLightGrey = rgba( 242, 243, 245, 1)
$colorFont      = rgba( 103, 111, 124, 1)


#g
    font-color $colorFont
    font-family 'Open Sans', 'Lato'
