@import url("//fonts.googleapis.com/css?family=Lato:400,100");
@import url("//fonts.googleapis.com/css?family=Roboto+Mono:400,100&subset=latin,cyrillic");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
* {
  font-weight: 100;
  font-family: 'Lato', 'Roboto Mono';
  font-size: 20px;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  color: #000;
  z-index: 0;
  position: relative;
}
a {
  text-decoration: none;
  color: rgba(150,88,138,0.75);
  font-weight: 700;
}
a:hover {
  color: #96588a;
}
hr {
  color: rgba(0,0,0,0.4);
  margin: 0.2em 35% 1em 35%;
}
.container {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.overlay {
  display: none;
}
a.button,
button {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  font-size: 12pt;
  font-weight: 400;
  display: inline-block;
  cursor: pointer;
  background-color: rgba(255,255,255,0.75);
  border: solid #639e14 1px;
  width: 6em;
  height: 2.2em;
  line-height: 2.2em;
  margin: 0.1em;
  color: #96588a;
}
a.button :hover,
button :hover {
  background-color: rgba(0,0,0,0.4);
}
.highlighted {
  background-color: #639e14 !important;
  color: #fff !important;
}
.highlighted :hover {
  background-color: #639e14 !important;
}
.alert {
  background-color: rgba(255,0,0,0.75) !important;
  color: #fff !important;
}
.alert :hover {
  background-color: #f00 !important;
}
input,
select {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  display: inline-block;
  font-size: 12pt;
  border: solid 1px #808080;
  width: 12em;
  height: 2.2em;
  line-height: 2.2em;
  margin: 0.1em;
  padding-left: 2em;
  color: #96588a;
  position: relative;
}
input.email::before {
  content: "EMAIL:";
}
input.address-line {
  width: 18em;
}
input.city,
input.state {
  width: 6em;
}
input.postcode {
  width: 6em;
}
select.country {
  width: 8em;
}
select.titles {
  width: 4em;
  font-size: 12pt;
}
.form-submit {
  margin: 1em;
  text-align: center;
}
.disabled {
  position: relative;
}
#foward {
  float: right;
}
.container .sidebar {
  width: 100%;
  height: 120px;
  position: absolute;
  top: 0;
  text-align: center;
  vertical-align: middle;
}
.container .sidebar nav {
  margin-top: 1em;
  width: 100%;
}
.container .sidebar nav a {
  margin: auto 2em;
  display: inline-block;
}
.container .content {
  text-align: center;
  display: inline-block;
  width: 100%;
}
.container .content .title {
  font-size: 96px;
}
.container .columns {
  display: inline-block;
}
.container .columns .title {
  font-size: 28px;
  border-bottom: solid 1px #808080;
  margin-bottom: 1em;
  padding-bottom: 0.6em;
}
.container .col-left,
.container .col-right {
  display: table-cell;
  text-align: left;
  width: 20em;
  padding: 0 1em;
}
.container .footer {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 14px;
  color: #808080;
}
