<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine On

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^ index.php [L]
</IfModule>


#AuthType Basic
#AuthName "Доступ запрещён!"
#AuthUserFile /var/www/html/l.gauzymall.com/.htpasswd
#Require valid-user
