<IfModule mod_rewrite.c>
	<IfModule mod_negotiation.c>
		#Options -MultiViews
	</IfModule>

	RewriteEngine On

	# Redirect Trailing Slashes...

	RewriteRule ^my\.garan24\.(.+)(.*)$ service.garan24.$1/my/$2 [NC]

	RewriteCond %{HTTP_HOST} ^checkout\.garan24\.
	RewriteRule ^checkout\.garan24\.(bs2|ru)(.+) service.garan24.$1/checkout$2

	# Handle Front Controller...
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^ index.php [L]
</IfModule>
